body {
  --black-pearl: #030D1A;
  --casper: #B0BECF;
  --fountain-blue: #5EB5B9;
  --mystic: #DFE5EC;
  --san-juan: #2B476A;
  --white: #FFFFFF;

  color: var(--black-pearl);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

input {
  /* prevent ios from automatically zooming when an input is focused */
  font-size: inherit;
}
