.container {
  padding: 0 0.325rem 0.325rem calc(var(--gutter) * 2);
  text-indent: -1em;
  line-height: 1.5;
  overflow-anchor: none;
  white-space: pre-wrap;
}

.author {
  font-weight: bold;
  margin-right: 0.325rem;
}

.timestamp {
  color: var(--casper);
  float: inline-end;
  font-size: 0.75rem;
  line-height: 1.25rem;
  margin-left: calc(var(--gutter) * 2);
  padding-top: calc(var(--gutter) * 0.5);
  vertical-align: sub;
}
