.container {
  padding: 0 6px 6px 1em;
  text-indent: -1em;
  line-height: 24px;
  overflow-anchor: none;
  white-space: pre-wrap;
}

.author {
  font-weight: bold;
  margin-right: 6px;
}

.timestamp {
  color: var(--casper);
  float: inline-end;
  font-size: 12px;
  line-height: 20px;
  margin-left: 1em;
  padding-top: 4px;
  vertical-align: sub;
}
