.container {
  padding: calc(var(--gutter) * 2) calc(var(--gutter) * 3) 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  min-height: 0;
  box-sizing: border-box;
}

.anchor {
  overflow-anchor: auto;
  height: 1px;
  flex-shrink: 0;
}

.appBar {
  background: var(--white);
  box-sizing: border-box;
  display: flex;
  padding: calc(var(--gutter) * 2) 0 calc(var(--gutter) * 2) calc(var(--gutter) * 2);
}
