.container {
  align-items: stretch;
  background-color: var(--san-juan);
  box-sizing: border-box;
  color: var(--white);
  display: flex;
  min-height: 4rem;
  padding: calc(var(--gutter) * 0.75) 0;
}

.button {
  align-items: center;
  background: none;
  border: none;
  color: var(--white);
  cursor: pointer;
  display: flex;
  font-size: 3rem;
  justify-content: center;
  padding: calc(var(--gutter));
  position: relative;
  z-index: 1;
}

.center {
  margin: 0 -0.75rem;
  flex-grow: 1;
}
