.title {
  box-sizing: border-box;
  display: inline-block;
  font-weight: bold;
  width: 16rem;
  margin: calc(var(--gutter) * 3) 0 var(--gutter);
  padding: 0 var(--gutter);
}

.title:first-of-type {
  margin-top: var(--gutter);
}

.button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  display: block;
  appearance: none;
  width: 100%;
  text-align: left;
  padding: 0;
}

.listItem {
  list-style-type: none;
  display: inline-block;
  width: 16rem;
}
