.index {
  box-sizing: border-box;;
  font-weight: bold;
  left: 0;
  padding: 0 0.325rem;
  position: absolute;
  text-align: right;
  top: auto;
  width: 2.25rem;
}

.listItem {
  font-size: 1rem;
  line-height: 1.25;
  list-style-type: none;
  padding: 0.325rem 0.325rem 0.325rem 2.25rem;
  position: relative;
}

.primary {
  background: var(--san-juan);
  color: var(--white);
}

.secondary {
  background: var(--mystic);
}
