.input {
  display: none;
}

.label {
  border: dashed 3px var(--san-juan);
  border-radius: 1rem;
  box-sizing: border-box;
  color: var(--san-juan);
  cursor: pointer;
  background: none;
  width: 8.5rem;
  height: 8.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 200ms;
}

.label:hover {
  background-color: var(--athens-gray);
}
