.input {
  display: none;
}

.label {
  border: dashed 0.125rem var(--san-juan);
  border-radius: 1rem;
  color: var(--san-juan);
  cursor: pointer;
  background: none;
  width: 7.5rem;
  height: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 200ms;
}

.label:hover {
  background-color: var(--mystic);
}
