.button {
  align-items: center;
  background-color: var(--mystic);
  border: none;
  border-radius: 16px;
  cursor: pointer;
  color: inherit;
  display: flex;
  height: 56px;
  justify-content: center;
  padding: 0;
  width: 56px;
  transition: background-color 200ms;
  position: relative;
  z-index: 1;
}

.button:hover,
.button:active,
.button:focus {
  background: var(--botticelli);
}

.button.transparent {
  background-color: rgba(223, 226, 232, 0.75);
}

.button.transparent:hover,
.button.transparent:active,
.button.transparent:focus {
  background-color: rgba(176, 190, 207, 0.75);
}

.icon {
  display: block;
  font-size: 28px;
}

.button.small {
  height: 40px;
  width: 40px;
}

.button.small .icon {
  font-size: 24px;
}

.button.large {
  height: 96px;
  width: 96px;
}

.button.large .icon {
  font-size: 36px;
}
