.cell {
  border-top: 1px solid var(--black-pearl);
  border-left: 1px solid var(--black-pearl);
  background: var(--white);
  position: relative;
  cursor: pointer;
  display: block;
  user-select: none;
}

.content {
  bottom: 0px;
  display: block;
  width: 100%;
  font-family: "Architects Daughter";
  font-size: 22px;
  position: absolute;
  text-align: center;
  pointer-events: none;
  z-index: 1;
}

.cursors {
  position: absolute;
  top: 1px;
  bottom: 1px;
  right: 1px;
  left: 1px;
  pointer-events: none;
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
}

.cursor {
  pointer-events: auto;
  border-radius: 100%;
  height: 8px;
  margin: 1px;
  width: 8px;
}

.number {
  font-size: 12px;
  pointer-events: none;
  position: absolute;
  top: 1px;
  left: 2.5px;
  z-index: 1;
}

.circled::after {
  content: '';
  border-radius: 100%;
  border: solid 1px var(--black-pearl);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.incorrect .content {
  color: var(--red-ink);
  text-decoration: underline;
  text-decoration-color: var(--red-ink);
  text-decoration-style: wavy;
}

.starred .content,
.starred .content .superscript {
  color: var(--gold-ink);
}

.pencil .content {
  color: var(--casper);
}

.revealed .content {
  color: var(--green-ink);
  text-decoration-color: var(--green-ink);
  text-decoration: underline;
}

.focus {
  background: var(--fountain-blue);
}

/* NOTE: uses extra selectors for specificity */
.focus,
.focus .content,
.focus .content .superscript {
  color: var(--white);
}

.pencil.focus .content {
  color: var(--botticelli)
}

.active {
  background: var(--mystic);
}

.solved {
  color: var(--blue-ink);
}

.black {
  background: var(--black-pearl);
}

.superscript {
  vertical-align: super;
  font-size: 14px;
}

/* .rebus {
  position: absolute;
  color: var(--iceberg);
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  font-family: "Architects Daughter";
  font-size: 32px;
  display: block;
} */

/* input should be visually hidden but interactable */
.input {
  bottom: 0;
  clip-path: inset(50%);
  clip: rect(0 0 0 0);
  height: 1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  white-space: nowrap;
  width: 1px;
}
