.cell {
  border-top: 1px solid var(--black-pearl);
  border-left: 1px solid var(--black-pearl);
  background: var(--white);
  position: relative;
  cursor: pointer;
  display: block;
  user-select: none;
}

.content {
  bottom: 0px;
  display: block;
  width: 100%;
  font-family: 'Architects Daughter';
  font-size: 1.325rem;
  position: absolute;
  text-align: center;
  pointer-events: none;
  z-index: 1;
}

.cursors {
  position: absolute;
  top: 1px;
  bottom: 1px;
  right: 1px;
  left: 1px;
  pointer-events: none;
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
}

.cursor {
  pointer-events: auto;
  border-radius: 100%;
  height: 0.5rem;
  margin: 0.0625rem;
  width: 0.5rem;
}

.number {
  font-size: 0.75rem;
  pointer-events: none;
  position: absolute;
  top: 0.0625rem;
  left: 0.15625rem;
  z-index: 1;
}

.circled::after {
  content: '';
  border-radius: 100%;
  border: solid 1px var(--black-pearl);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.incorrect .content {
  color: var(--red-ink);
  text-decoration: underline;
  text-decoration-color: var(--red-ink);
  text-decoration-style: wavy;
}

.starred .content,
.starred .content .superscript {
  color: var(--gold-ink);
}

.pencil .content {
  /* color: var(--casper); */
  color: var(--graphite);
}

.revealed .content {
  color: var(--green-ink);
  text-decoration-color: var(--green-ink);
  text-decoration: underline;
}

.selected {
  background: var(--casper);
}

.pencil.selected .content {
  color: var(--bermuda-gray);
}

/* NOTE: uses extra selectors for specificity */
.focus.focus {
  background: var(--fountain-blue);
  color: var(--white);
}

.pencil.focus .content {
  color: var(--mystic);
}

.active {
  background: var(--mystic);
}

.solved {
  animation: pulse-border 2.5s;
  color: var(--blue-ink);
}

.black {
  background: var(--black-pearl);
  cursor: inherit;
}

.black.solved {
  animation: pulse-border 2.5s, pulse-background 2.5s;
}

.superscript {
  vertical-align: super;
  font-size: 0.875rem;
}

/* input should be visually hidden but interactable */
.input {
  bottom: 0;
  clip-path: inset(50%);
  clip: rect(0 0 0 0);
  height: 1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  white-space: nowrap;
  width: 1px;
}

@keyframes pulse-border {
  0% {
    border-color: var(--black-pearl);
  }
  25% {
    border-color: var(--gold-ink);
  }
  50% {
    border-color: #F8DB4F;
  }
  75% {
    border-color: var(--gold-ink);
  }
  100% {
    border-color: var(--black-pearl);
  }
}


@keyframes pulse-background {
  0% {
    background-color: var(--black-pearl);
  }
  25% {
    background-color: var(--gold-ink);
  }
  50% {
    background-color: #F8DB4F;
  }
  75% {
    background-color: var(--gold-ink);
  }
  100% {
    background-color: var(--black-pearl);
  }
}

