.badge {
  background-color: red;
  border-radius: 100%;
  height: 8px;
  position: absolute;
  right: -4px;
  top: -4px;
  width: 8px;
}

.container {
  background-color: var(--mystic);
  display: flex;
}

.tab {
  align-items: center;
  color: var(--black-pearl);
  display: flex;
  flex-grow: 1;
  justify-content: center;;
  padding: 6px 0;
  transition: background-color 200ms;
}

.tab:hover {
  background-color: var(--botticelli);
}

.tab.active {
  background-color: var(--casper);
}

.icon {
  display: block;
  font-size: 24px;
  position: relative
}