.container {
  padding: 24px 16px;
  display: flex;
  flex-direction: row-reverse;
  margin-top: -104px;
  align-items: end;
}

/* note: double up selector for specificity */
.container.container {
  pointer-events: none;
}

.container > * {
  margin-left: 16px;
  pointer-events: auto;
}
