.container {
  padding: 24px 16px;
  display: flex;
  flex-direction: row-reverse;
  margin-top: -104px;
  pointer-events: none;
  align-items: end;
}

.container > * {
  margin-left: 16px;
  pointer-events: auto;
}
