body {
  --bermuda-gray: #6E899F;
  --black-pearl: #030D1A;
  --botticelli: #D1DCE8;
  --we-peep: #F5D6E0;
  --casper: #B0BECF;
  --fountain-blue: #5EB5B9;
  --iceberg: #D8F2F3;
  --mystic: #DFE5EC;
  --san-juan: #2B476A;
  --white: #FFFFFF;

  --red-ink: #A03138;
  --green-ink: #1B975D;
  --blue-ink: #2040A1;
  --gold-ink: #BA8328;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--black-pearl);
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  /* prevent ios from automatically zooming when an input is focused */
  font-size: inherit;
}
