body {
  --athens-gray: #f5f7f9;
  --bermuda-gray: #6e899f;
  --black-pearl: #030d1a;
  --botticelli: #d1dce8;
  --casper: #b0becf;
  --fountain-blue: #5eb5b9;
  --mystic: #dfe5ec;
  --san-juan: #2b476a;
  --white: #ffffff;

  --red-ink: #a03138;
  --green-ink: #1b975d;
  --blue-ink: #2040a1;
  --gold-ink: #ba8328;
  --graphite: #AAA4A2;

  --gutter: 0.5rem;
  --content-width: 37.5rem;

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  color: var(--black-pearl);
}

a {
  color: inherit;
  text-decoration: none;
}

code,
kbd {
  font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono',
    'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono',
    'Courier New', monospace;
}

input {
  /* prevent ios from automatically zooming when an input is focused */
  font-size: inherit;
}

/* some inputs should be visually hidden but interactable */
.hidden {
  bottom: 0;
  clip-path: inset(50%);
  clip: rect(0 0 0 0);
  height: 1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  white-space: nowrap;
  width: 1px;
}
