.container {
  align-self: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  height: calc(100dvh - 60px); /* subtract height of top bar */
  padding: 18px 16px 0;
  width: 100%;
  overflow: scroll;
  overscroll-behavior: auto;
  -webkit-overflow-scrolling: touch;
}

.anchor {
  overflow-anchor: auto;
  /* also serves as a spacer for the fixed chat input pane */
  height: 80px;
  flex-shrink: 0;
}

.fixed {
  position: fixed;
  /* height of tabs navigation */
  bottom: 36px;
  left: 0;
  right: 0;
  box-sizing: border-box;
}

.title {
  font-size: 22px;
  font-weight: bold;
}

.titleInput {
  color: inherit;
  appearance: none;
  background: none;
  border: none;
  font-size: 22px;
  min-width: 0;
  width: 200px;
}

.appBar {
  background: var(--white);
  box-sizing: border-box;
  display: flex;
  margin: 0 auto;
  max-width: 600px;
  padding: 16px 0 16px 16px;
}
