.container {
  box-sizing: border-box;
  min-height: 100dvh;
}

:global(.ios) .container.isPuzzle {
  min-height: 0;
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.fixed {
  position: fixed;
}

.bottomSheet {
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1;
  pointer-events: none;
}

:global(.ios) .isPuzzle .bottomSheet {
  position: sticky;
}

.bottomSheet > * {
  pointer-events: auto;
}

.bottomSheetPortal.bottomSheetPortal {
  pointer-events: none;
}

.bottomSheetPortal > * {
  pointer-events: auto;
}
