.container {
  align-self: center;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 600px;
  min-height: 100dvh; /* subtract height of top bar */
  padding: 18px 16px 0;
  width: 100%;
  line-height: 1.5;
}

.title {
  font-size: 22px;
  font-weight: bold;
}

.icon {
  font-size: 24px;
  margin-right: 16px;
  flex-shrink: 0;
}

.list {
  padding: 8px 0;
}

.listItem {
  align-items: center;
  display: flex;
  height: 48px;
}

.input {
  color: var(--black-pearl);
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

.name {
  font-weight: bold;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
