
.puzzle {
  box-sizing: border-box;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0 auto;
  min-height: 0;
  min-height: 100dvh;
  padding: 20px;
  width: fit-content;
  /* intrinsic + toolbar + navbar + clue */
  padding-bottom: calc(20px + 72px + 64px + 36px);
}

/* on ios, we use position sticky, so no need for extra spacer */
:global(.ios) .puzzle {
  padding-bottom: calc(20px + 72px);
  min-height: 0;
  flex-shrink: 0;
}
