.container {
  align-self: center;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: var(--content-width);
  padding: calc(var(--gutter) * 2) calc(var(--gutter) * 2) 0;
  width: 100%;
  line-height: 1.5;
  /* height of navigation tabs */
  margin-bottom: 2.25rem;
}

/* on ios, we use position sticky, so no need for extra spacer */
:global(.ios) .container {
  margin-bottom: 0;
}

.icon {
  font-size: 1.5rem;
  margin-right: calc(var(--gutter) * 2);
  flex-shrink: 0;
}

.list {
  padding: var(--gutter) 0;
}

.listItem {
  align-items: center;
  display: flex;
  height: 3rem;
}

.input {
  color: var(--black-pearl);
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

.name {
  font-weight: bold;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
