.container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  /* create new container context for @container rules */
  container-type: size;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
  bottom: 0;
}

.puzzle {
  flex-shrink: 1;
  flex-grow: 1;
  min-height: 0;
  overflow: scroll;
  overscroll-behavior: auto;
  -webkit-overflow-scrolling: touch;
  padding: 20px;
}
