.container {
  align-self: center;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: var(--content-width);
  padding: calc(var(--gutter) * 2) calc(var(--gutter) * 2) 0;
  width: 100%;
  line-height: 1.5;
  /* height of navigation tabs */
  padding-bottom: 2.25rem;
}
