.fixed {
  position: fixed;
}

.sticky {
  bottom: 36px; /* height of tabs navigation */
  position: sticky;
  z-index: 1;
}

.puzzle {
  flex-shrink: 1;
  flex-grow: 1;
  min-height: 0;
  overflow: scroll;
  overscroll-behavior: auto;
  -webkit-overflow-scrolling: touch;
  padding: 20px;
}
