
.puzzle {
  box-sizing: border-box;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0 auto;
  min-height: 0;
  min-height: 100dvh;
  padding: calc(var(--gutter) * 2.25);
  width: fit-content;
  /* intrinsic + toolbar + navbar + clue */
  padding-bottom: calc(1.25rem + 4.5rem + 4rem + 2.25rem);

}

/* on ios, we use position sticky, so no need for extra spacer */
:global(.ios) .puzzle {
  padding-bottom: calc(1.25rem + 4.5rem + 2.25rem);
  min-height: 0;
  flex-shrink: 0;
}
