.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: var(--content-width);
  padding: calc(var(--gutter) * 2) calc(var(--gutter) * 2) 0;
  width: 100%;
  line-height: 1.5;
  /* height of navigation tabs */
  padding-bottom: 2.25rem;
}

/* on ios, we use position sticky, so no need for extra spacer */
:global(.ios) .container {
  padding-bottom: 0;
}

.container h1,
.container h2 {
  margin-bottom: var(--gutter);
}

.section {
  margin-bottom: calc(var(--gutter) * 3);
}

.section p {
  margin-bottom: calc(var(--gutter));
}

.puzzleInfo {
  line-height: 1.5;
}

.puzzleTitle {
  font-weight: bold;
  font-size: 1.125rem;
  margin-bottom: calc(var(--gutter) * 2);
}

.list li {
  padding-bottom: var(--gutter);
  margin-bottom: var(--gutter);
  border-bottom: 1px solid var(--mystic);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonGroup {
  display: flex;
}
