.caption {
  color: var(--san-juan);
  font-size: 1.75rem;
  line-height: 1.5;
  text-align: center;
  margin: calc(var(--gutter) * 4);
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
