.caption {
  color: var(--san-juan);
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  margin: 36px;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
