body {
  --black-pearl: #030D1A;
  --casper: #B0BECF;
  --fountain-blue: #5EB5B9;
  --mystic: #DFE5EC;
  --san-juan: #2B476A;
  --white: #FFFFFF;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--black-pearl);
}
